<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>Staff Login</title>
</head>

    <div class="menu-link">
        <a href="/">Home</a>
    </div>

    <div class = "center-container">
        <div class = "login-container">
            
            <form class = "login-form" method = "POST">
                <input type = "text" name = "username" required/ placeholder="Enter your name">
                <br/>
                <input type = "password" name = "password" required/ placeholder="Enter your password">
                <br/>
                <button type = "submit">Cashier Login</button>  
            </form> 
        </div>
    </div>


