<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>My Server</title>
</head>

<body>
    <div class="menu-link">
        <a href="/">Home</a>
    </div>

    <form action="/manager" method="GET">
        <br>
        <button type="submit" name="table_status" value="table_status">Table Status</button>
        <br><br>
        <button type="submit" name="order_list" value="order_list">Order List</button>
        <br><br>
        <button type="submit" name="view_feedback" value="view_feedback">View Feedback</button>
    </form>
</body>
</html>
